.random-movie {    
    padding: 1rem !important;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.527);
}
.poster-img {        
    height: 376px;    
    margin-right: 20px;
}

.list-group {
    margin: 0;
}

h3 {    
    margin-top: -10px;
    border-bottom: 1px solid rgba(222, 184, 135, 0.376);
    color: rgba(222, 184, 135, 0.849);
}